<div class="container">
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">School Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a  href="/">Home </a>
      </li>
      <li class="nav-item">
        <a  href="/login">Admin Login</a>
      </li>
      <li class="nav-item">
        <a  href="/protected">View Details</a>
      </li>
    </ul>
    </div>
</nav>
</div>
    <h3>List of Students</h3>
   <div class="d-flex">
      {{#each studentsSent}}
          <div class="card ml-3">
                <div class="card-header">{{name}}</div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="h4">ID: {{id}}</div>
                        <div class="h4">Gender: {{gender}}</div>
                        <div class="h4">Course: {{course}}</div>
                        <div class="h4">level {{level}}</div>
                    </div>
                </div>  
            </div>
      {{/each}}
   </div>
   <h3>List of Staff</h3>
   <div class="d-flex">
      {{#each staffsSent}}
          <div class="card ml-3">
                <div class="card-header">{{name}}</div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="h4">ID: {{id}}</div>
                        <div class="h4">Gender: {{gender}}</div>
                        <div class="h4">Role: {{role}}</div>
                    </div>
                </div>  
            </div>
      {{/each}}
   </div>
   <h3>List of Courses</h3>
   <div class="d-flex">
      {{#each coursesSent}}
          <div class="card ml-3">
                <div class="card-header">{{name}}</div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="h4">ID: {{id}}</div>
                        <div class="h4">Course Description: {{description}}</div>
                    </div>
                </div>  
            </div>
      {{/each}}
   </div>
</div>